<main>

  <header>
    <span class="blue-text">TIC</span>
    <span class="red-text">TAC</span>
    <span class="blue-text">TOE</span>
  </header>

  <div class="game">

    <div *ngFor="let field of fields" class="field"
         (click)="fieldWasClicked(field)"
         [class.blue]="field.wasClickedByBlue"
         [class.red]="field.wasClickedByRed"
    >
    </div>

  </div>


  <div class="winner"
       [class.winner-blue]="winner === 'Blau hat gewonnen'"
       [class.winner-red]="winner === 'Rot hat gewonnen'"
       [class.draw]="winner === 'Unentschieden'"
  >
    {{winner}}
  </div>

  <button *ngIf="gameFinished === true" (click)="startGame()">Neues Spiel?</button>

</main>

